@using H5pPlayer.Presentation.PresentationLogic.ValidateH5p
@using MudBlazor

<button @onclick="MarkAsNotUsable"
        class="flex flex-row gap-2 items-center justify-center btn-standard bg-formerrordark hover:bg-formerror uppercase shadow-lg">
    <p>H5P ist nicht verwendbar</p>
    
    <MudTooltip Placement="Placement.Right" Class="w-96 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed">
        <TooltipContent>
            <MudText Class="cursor-default text-xs">Das H5P wird nicht angezeigt oder kann trotz Aufgabe nicht abgeschlossen werden.</MudText>
        </TooltipContent>
        <ChildContent>
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey-500 hover:text-adlerdarkblue" />
        </ChildContent>
    </MudTooltip> 
</button>


@code {
    private bool ShowDetails = false;

    [Parameter, EditorRequired]
    public required IValidateH5pController ValidateH5pController { get; set; }

    private void MarkAsNotUsable()
    {
        ValidateH5pController.SetActiveH5pStateToNotUsable();
        ValidateH5pController.TerminateValidateH5p();
    }

  
}