<div class="border rounded-xl shadow p-4 max-w-xl bg-adlergold-100">
    <button @onclick="Toggle" 
            class="flex items-center justify-between w-full text-left font-semibold text-lg text-adlergrey-700 hover:text-adlergrey-700">
        <span>Zweck der Validierung</span>
        <svg class="w-5 h-5 transform transition-transform duration-300 @(isOpen ? "rotate-180" : "")" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7" />
        </svg>
    </button>

    @if (isOpen)
    {
        <div class="mt-4 text-gray-700">
            Sie haben H5Ps als externes Lernmaterial hinzugefügt. 
            H5Ps müssen zunächst auf ihre Funktion hin überprüft werden,
            bevor sie in einer Lernwelt erfolgreich verwendet werden können.
            Dabei wird überprüft, ob innerhalb des H5Ps Punkte durch das Beantworten 
            von Fragen erzielt werden können (z.B. H5P „Interactive Video“) und das 
            H5P somit abschließbar ist (Anzeige als abschließbares H5P =   ) oder ob 
            es sich um ein nicht abschließbares H5P handelt, bei dem lediglich
            durch das Öffnen des H5Ps (z.B. H5P „Image Slider“) Punkte vergeben
            werden (Anzeige als nicht abschließbares H5P =   ). Auch ist es 
            möglich, dass ein H5P nicht angezeigt wird oder fehlerhaft ist
            (Anzeige als defektes H5P =   ). Mehr dazu erfahren Sie hier.
        </div>
    }

</div>

@code {
    private bool isOpen = false;

    private void Toggle()
    {
        isOpen = !isOpen;
    }
}