@using MudBlazor
@inject Microsoft.Extensions.Localization.IStringLocalizer<ValidationNecessaryView> Localizer


<div class="flex flex-row justify-start items-center gap-2 w-full py-2">
    <p class="text-sm text-formerror font-bold whitespace-nowrap">
        @Localizer["Message.KeepOpenWarning"]
    </p>

    <MudTooltip Placement="Placement.Bottom"
                Class="w-96 p-4 bg-adlerdarkblue-200 shadow-lg text-start leading-relaxed">
        <TooltipContent>
            <MudText Class="cursor-default text-xs">
                @Localizer["Tooltip.ValidationExplanation"]
            </MudText>
        </TooltipContent>
        <ChildContent>
            <MudIcon Size="Size.Small"
                     Icon="@Icons.Material.Filled.Info"
                     Class="text-adlergrey-500 hover:text-adlerdarkblue"/>
        </ChildContent>
    </MudTooltip>
</div>