@using AuthoringTool.PresentationLogic
@inherits ComponentBase
@inject IShutdownManager ShutdownManager
<button class="btn btn-danger" @onclick="() => ShutdownManager.BeginShutdown()">Close application</button>