.element {
    border: 1px solid black;
    margin: 5px 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: lightgrey;
    width: 30%;
    max-width: 33.33%;
    border-radius: 10px;
}

.text-wrap {
    overflow-wrap: anywhere;
}
