@using AuthoringTool.Extensions
@* Disabled because editor does not recognize ItemRenderTemplate being provided as inner tag -n.stich*@
@* ReSharper disable once Blazor.EditorRequired *@
<GridLayoutDisplay HeaderTitle="Toolbox" Items="@debug">
    <ItemRenderTemplate>
        <div class="col-3 element text-center text-wrap">
            @context.a
        </div>
    </ItemRenderTemplate>
</GridLayoutDisplay>


     @code {

    class DebugThing
    {
        public DebugThing(string a, int b)
        {
            this.a = a;
            this.b = b;
        }
        public string a;
        public int b;
    }

    IEnumerable<DebugThing> debug = new[]
    {
        new DebugThing("foo", 123),
        new DebugThing("foo", 123),
        new DebugThing("foooooooooooooooooooooooooo", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fao", 123),
        new DebugThing("faooooo", 123),
        new DebugThing("fuo", 123),
        new DebugThing("fuo", 123),
        
    };
         
}