<div class="tooltip-wrapper" @onmouseover="ShowTooltip" @onmouseout="HideTooltip">
    <span style="visibility: @(TooltipVisible ? "visible" : "hidden")">
        <p>@Text</p>
    </span>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    internal bool TooltipVisible { get; private set; }

    private void ShowTooltip() => TooltipVisible = true;
    private void HideTooltip() => TooltipVisible = false;
}