@page "/AuthoringToolWorkspaceView"
@using AuthoringTool.PresentationLogic
@using AuthoringTool.Components

<h3>AuthoringTool Workspace</h3>

<p role="status">Current count of learning worlds: @AuthoringToolWorkspaceVm.LearningWorlds.Count</p>
<ul>
    @foreach (var world in AuthoringToolWorkspaceVm.LearningWorlds)
    {
        <li>
            test
        </li>
    }
</ul>
<button class="btn btn-primary" @onclick="AddNewLearningWorld">Add Learning World</button>
<button class="btn btn-primary" @onclick="DeleteLastLearningWorld">Delete Learning World</button>
@if (AuthoringToolWorkspaceP.CreateLearningWorldDialogueOpen)
{
    <ModalDialog Title="Create new learning world" Text="Please enter the required data for the learning world below:"
                 OnClose="@OnDeleteDialogClose" DialogType=@ModalDialog.ModalDialogType.YesNoCancel
                 InputFields="@(new ModalDialog.ModalDialogInputField[]{
                                  new("Name", ModalDialog.ModalDialogInputType.Text),
                                  new("Description", ModalDialog.ModalDialogInputType.Text),
                                  new("Author(s)", ModalDialog.ModalDialogInputType.Text),
                              })">
    </ModalDialog>
}

@code {

    /// <summary>
    /// Default constructor
    /// </summary>
    public AuthoringToolWorkspaceView()
    {
        AuthoringToolWorkspaceVm = new AuthoringToolWorkspaceViewModel();
        AuthoringToolWorkspaceP = new AuthoringToolWorkspacePresenter(AuthoringToolWorkspaceVm);
        
    }
    
    /// <summary>
    /// Testable constructor: use only for test purpose!
    /// </summary>
    public AuthoringToolWorkspaceView(
        AuthoringToolWorkspacePresenter authoringToolWorkspaceP,
        AuthoringToolWorkspaceViewModel authoringToolWorkspaceVm)
    {
        AuthoringToolWorkspaceP = authoringToolWorkspaceP;
        AuthoringToolWorkspaceVm = authoringToolWorkspaceVm;
    }
    
    private AuthoringToolWorkspacePresenter AuthoringToolWorkspaceP { get; set; }
    private AuthoringToolWorkspaceViewModel AuthoringToolWorkspaceVm { get; set; }
    
    private void AddNewLearningWorld()
    {
        AuthoringToolWorkspaceP.CreateLearningWorldDialogueOpen = true;
    //AuthoringToolWorkspaceP.CreateNewLearningWorld();
    }
    
    private void DeleteLastLearningWorld()
    {
        AuthoringToolWorkspaceP.DeleteLastLearningWorld();
    }

    private Task OnDeleteDialogClose(Tuple<ModalDialog.ModalDialogReturnValue, IDictionary<string, object>?> returnValueTuple)
    {
        AuthoringToolWorkspaceP.CreateLearningWorldDialogueOpen = false;
        Console.WriteLine(returnValueTuple.Item1.ToString());
        var dictionary = returnValueTuple.Item2;
        if (dictionary == null) return Task.CompletedTask;
        foreach (var (key, value) in dictionary)
        {
            Console.Write($"key {key} value {value}\n");
        }
        return Task.CompletedTask;
    }
    
}