@using AuthoringTool.PresentationLogic
@using AuthoringTool.PresentationLogic.Toolbox
@inject IToolboxController toolboxController
<div class="col-3 element text-center text-wrap @CssClassSelector" @ondblclick="() => toolboxController.LoadObjectIntoWorkspace(obj)">
    @obj.Name
    @if (ChildContent != null)
    {
        <br/>
        @ChildContent
    }
</div>
@code {
    [Parameter, EditorRequired]
    public IDisplayableLearningObject obj { get; set; }
    [Parameter, EditorRequired]
    public string CssClassSelector { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}