root = true
[*]
dotnet_diagnostic.NUnit2001.severity = error
dotnet_diagnostic.NUnit2002.severity = error
dotnet_diagnostic.NUnit2003.severity = error
dotnet_diagnostic.NUnit2004.severity = error
dotnet_diagnostic.NUnit2005.severity = error
dotnet_diagnostic.NUnit2006.severity = error

dotnet_diagnostic.NUnit2015.severity = error
dotnet_diagnostic.NUnit2016.severity = error
dotnet_diagnostic.NUnit2017.severity = error
dotnet_diagnostic.NUnit2018.severity = error
dotnet_diagnostic.NUnit2019.severity = error

dotnet_diagnostic.NUnit2027.severity = error
dotnet_diagnostic.NUnit2028.severity = error
dotnet_diagnostic.NUnit2029.severity = error
dotnet_diagnostic.NUnit2030.severity = error
dotnet_diagnostic.NUnit2031.severity = error
dotnet_diagnostic.NUnit2032.severity = error
dotnet_diagnostic.NUnit2033.severity = error
dotnet_diagnostic.NUnit2034.severity = error
dotnet_diagnostic.NUnit2035.severity = error
dotnet_diagnostic.NUnit2036.severity = error
dotnet_diagnostic.NUnit2037.severity = error
dotnet_diagnostic.NUnit2038.severity = error
dotnet_diagnostic.NUnit2039.severity = error
