@using Presentation.Components.Forms.Content
@using Presentation.Components.Forms
@using Presentation.PresentationLogic.API
@using Presentation.PresentationLogic.ElectronNET
@using Presentation.Components.Dialogues
@using BusinessLogic.Entities.LearningContent
<header class="m-2 rounded-lg">
            <div class="flex justify-center p-2">
                <h2 class="text-xl text-center font-bold text-adlergrey-500 mx-2">Import files</h2>
            </div>
        </header>
        <MudDivider DividerType="DividerType.Middle" Class="my-4"></MudDivider>
<MudStack Class="w-full">
    <div class="flex flex-col">
        
        @if (Working)
        {
            <div class="w-full h-full bg-adlergrey-100 bg-opacity-25 z-40">
            </div>
            <MudProgressCircular Indeterminate="true" Class="z-50 m-auto"
                                 Color="Color.Primary" Size="Size.Large"/>
        }
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnFilesChanged" Hidden="false"
                       Accept="@AllowedFileEndings.EndingsCommaSeparated"
                       InputClass="absolute w-full h-full opacity-0 z-10"
                       @ondragenter="SetDragClass" @ondragleave="ClearDragClass"
                       @ondragend="ClearDragClass">
            <ButtonTemplate>
                <MudPaper Class="@PaperClasses" Outlined="true">
                    <MudText Typo="Typo.body1">Drag and drop files here or click to add them.</MudText>
                </MudPaper>
            </ButtonTemplate>
        </MudFileUpload>
    </div>
    <Collapsable Title="Add Link" Collapsed="true">
        <AddLinkForm/>
    </Collapsable>

</MudStack>

@code {
    [Inject]
    private IDialogService DialogService { get; set; }

    [Inject]
    private IPresentationLogic PresentationLogic { get; set; }

    [Inject]
    private ILogger<ContentFilesAdd> Logger { get; set; }

    [CascadingParameter]
    public ContentFilesContainer ContentFilesContainer { get; set; }

    private string DragClass { get; set; } = "";
    private string PaperClasses => $"h-32 flex items-center justify-center relative {DragClass}";
    private bool Working { get; set; } = false;

    //iterates all files, copies them into a new stream and passes said stream to presentation logic
    private void OnFilesChanged(InputFileChangeEventArgs obj)
    {
        //PLEASE leave this as a Task.Run, otherwise copying the streams over will block the UI thread
        //indefinitely for no apparent reason
        Task.Run(async () =>
        {
            Logger.LogTrace("Entered OnFilesChanged in ContentFilesAdd");
            ToggleSpinner();
            Logger.LogTrace("Getting up to 10 files from InputFileChangeEventArgs");

            var files = obj.GetMultipleFiles(10);
            Logger.LogDebug("Got {FileCount} files from InputFileChangeEventArgs", files.Count);

            foreach (var file in files)
            {
                if (!AllowedFileEndings.Endings.Contains(file.Name.Split(".").Select(s => "." + s).LastOrDefault()))
                {
                    await InvokeAsync(async () => await DialogService.ShowMessageBox("Unsupported file ending", $"The supplied file {file.Name} is not supported."));
                    continue;
                }
                await HandleFileAsync(file);
            }

            Logger.LogTrace("Rerendering ContentFilesContainer");
            await ContentFilesContainer.RerenderAsync();
            ToggleSpinner();
            ClearDragClass();
        });
    }

    private async Task HandleFileAsync(IBrowserFile file)
    {
        if (file.Size == 0)
        {
            Logger.LogTrace("File size is 0, skipping file {FileName}", file.Name);
            //we must run this on the UI thread, as it is a UI component
            await InvokeAsync(() =>
                DialogService.ShowMessageBox("File empty", $"The file {file.Name} was empty, skipping it")
            );
            return;
        }

        Logger.LogTrace("Opening stream for file {FileName}, Filesize is {FileSize}", file.Name, file.Size);
        await using var stream = file.OpenReadStream(1_000_000_000);
        Logger.LogTrace("BrowserFileStream opened");

        Logger.LogTrace("Copying BrowserFileStream to MemoryStream");
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);

        Logger.LogTrace("Calling LoadLearningContentViewModel");
    //TODO: report when a file with same content already exists
        PresentationLogic.LoadLearningContentViewModel(file.Name, memoryStream);
        Logger.LogTrace("LoadLearningContentViewModel returned");
    }

    private void ToggleSpinner()
    {
        Working = !Working;
        InvokeAsync(StateHasChanged);
    }

    private void SetDragClass()
    {
        DragClass = "mud-border-dashed mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = "";
    }

}