<MudPaper Class="relative w-full h-full shadow-none overflow-hidden">
    <CascadingValue Value="@RerenderAsync" Name="RerenderContentContainer">
        <div class="flex flex-row w-full">
            <div>
                <ContentFilesAdd/>
            </div>
            <div class="w-full h-full overflow-y-hidden overflow-x-scroll">
                <ContentFilesView @ref="ContentFilesView"/>
            </div>
        </div>
    </CascadingValue>
</MudPaper>

@code {

    private ContentFilesView? ContentFilesView { get; set; }

    /// <summary>Rerenders this component as well as the <see cref="ContentFilesView"/> inside of it.</summary>
    internal async Task RerenderAsync()
    {
        await InvokeAsync(StateHasChanged);
        if (ContentFilesView is null) throw new InvalidOperationException("ContentFilesView @ref is null");
        await ContentFilesView.RerenderAsync();
    }

}