<MudPaper Class="w-full h-full max-h-full flex">
    <CascadingValue Value="this">
        <div class="flex flex-col flex-nowrap w-full grow">
            <div class="">
                <ContentFilesAdd/>
            </div>
            <MudDivider Class="max-h-[10px]"/>
            <div class="grow shrink w-full flex flex-col">
                <ContentFilesView @ref="ContentFilesView"/>
            </div>
        </div>
    </CascadingValue>
</MudPaper>

@code {
    private ContentFilesView ContentFilesView { get; set; }

    /// <summary>Rerenders this component as well as the <see cref="ContentFilesView"/> inside of it.</summary>
    internal async Task RerenderAsync()
    {
        await InvokeAsync(StateHasChanged);
        await ContentFilesView.RerenderAsync();
    }

}