.element {
    border: 1px solid black;
    margin: 5px 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 30%;
    max-width: 33.33%;
    border-radius: 10px;
}

.text-wrap {
    overflow-wrap: anywhere;
}

.world {
    background-color: pink;
}

.space {
    background-color: lightgreen;
}

.element {
    background-color: blue;
}