@using Presentation.PresentationLogic.Toolbox
@using Presentation.PresentationLogic
@using Presentation.Components
@* Disabled because editor does not recognize ItemRenderTemplate being provided as inner tag -n.stich*@
@* ReSharper disable once Blazor.EditorRequired *@
<GridLayoutDisplay HeaderTitle="Toolbox" Items="@FilteredEntries">
    <ChildContent>
        <div>
            <input type="text" name="search-term" style="width: 90%" @bind="@SearchTerm" @bind:event="oninput" placeholder="Search..."/>
            <Tooltip Text="@ResultFilter.UserExplanationText"><i class="bi bi-info-circle"></i></Tooltip>
        </div>
    </ChildContent>
    <ItemRenderTemplate>
        @RenderFragmentFactory.GetRenderFragment(context)
    </ItemRenderTemplate>
</GridLayoutDisplay>

@code
{
#pragma warning disable CS8618
    [Inject] internal ILogger<Toolbox> Logger { get; private init; }
    [Inject] internal IAbstractToolboxRenderFragmentFactory RenderFragmentFactory { get; private init; }
    [Inject] internal IToolboxEntriesProvider EntriesProvider { get; private init; }
    [Inject] internal IToolboxResultFilter ResultFilter { get; private init; }
#pragma warning restore CS8618
    internal string? SearchTerm { get; private set; }
    internal IEnumerable<IDisplayableLearningObject> FilteredEntries =>
        string.IsNullOrWhiteSpace(SearchTerm) ?
            EntriesProvider.Entries :
            ResultFilter.FilterCollection(EntriesProvider.Entries, SearchTerm);
}
