<div class="w-60 gap-4">
    <div class="flex flex-row" @onclick="@Toggle">
        @if (Collapsed)
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />
            <h3 class="font-bold text-lg"> @Title </h3>
        }
        else
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowDropUp" />
            <h3 class="font-bold text-lg"> @Title </h3>
        }
    </div>
    
    @if (!Collapsed)
    {
        <div class="border-1 border-adlergrey-200 p-4 bg-white overflow-hidden">
            @ChildContent
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string? Title { get; set; }

    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}