@typeparam T where T : notnull
@using System.Diagnostics.CodeAnalysis
@using MudBlazor.Utilities
@inherits MudBaseInput<T>
<div class="flex flex-col w-[98%] h-52 bg-adlerbgbright border-adlergrey-100 border-4 rounded m-2">
    @if (Error)
    {
        <MudText Class="text-formerror pl-2 pt-2 text-sm">@ErrorText</MudText>
    }
    @if (FilterFuncSearchableStrings is not null)
    {
        <div class="w-full h-1/3">
            <MudTextField T="string"
                          Class="fixed w-1/3 px-2"
                          Placeholder="Suche..."
                          Immediate="true"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Outlined.Search"
                          @bind-Value="_searchString"/>
        </div>
    }

    <div class="h-2/3 w-full overflow-auto">
        <div class="py-2 grid grid-cols-7 2xl:grid-cols-5 gap-4 items-start justify-start justify-items-center place-items-center p-0 h-32 text-xs font-bold break-all leading-none text-adlertextgrey">
            @for (var i = 0; i < FilteredElements.Count(); i++)
            {
                var element = FilteredElements.ElementAt(i);
                <div onclick="@(() => SelectAsync(element))" class="cursor-pointer">
                    @ElementTemplate(element)
                </div>
            }
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired, AllowNull] public IEnumerable<T> Elements { get; set; }

    [Parameter, EditorRequired, AllowNull] public RenderFragment<T> ElementTemplate { get; set; }

    [Parameter] public Func<T, IEnumerable<string>>? FilterFuncSearchableStrings { get; set; }

    private IEnumerable<T> FilteredElements => FilterFuncSearchableStrings is null || string.IsNullOrWhiteSpace(_searchString) ? Elements : Elements.Where(ele => FilterFuncSearchableStrings(ele).Any(str => str.ToLower().Contains(_searchString.ToLower())));

    private string? _searchString = "";

    private string GetCssBuilder(T element, int i) => new CssBuilder("grid cursor-pointer w-[100px] h-[48px] text-clip place-content-center")
        .AddClass("bg-adlerblue-100 border-adlerblue-300 cursor-pointer", element.Equals(Value))
        .AddClass($"element-{i}")
        .Build();

    private async Task SelectAsync(T element)
    {
        if (element.Equals(Value))
        {
            await SetValueAsync(default!);
        }
        else
        {
            await SetValueAsync(element);
        }
    }

}