@using H5pPlayer.Presentation.PresentationLogic.DisplayH5p


<div style="margin-top: 20px;"></div>
<div id="h5p-container"></div>
<div style="margin-top: 20px;"></div>





@code {
  
    internal IDisplayH5pViewModel? DisplayH5pVm { get;  set; }
   
    internal IDisplayH5pController? DisplayH5pController { get; set; }
    
    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
         //todo if needed
         // DisplayH5pVm.OnAction += this.StateHasChanged 
        }
    }
    
    

}