@using H5pPlayer.BusinessLogic.Entities
@using H5pPlayer.Main
@using H5pPlayer.Presentation.PresentationLogic
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime


<div>
    <p style="color: red">Dieses Fenster muss geöffnet bleiben bis die Validierung abgeschlossen ist!</p>
    <p>Bitte prüfen Sie das H5P, indem Sie die darin enthaltenen Aufgaben lösen.</p>
    <div style="margin-top: 20px;"></div>
    <div id="h5p-container"></div>
    <div style="margin-top: 20px;"></div>

    @if (H5pPlayerVm != null)
    {
        <InvalidPathErrorView InvalidPathErrorVm="H5pPlayerVm.InvalidPathErrorVm"></InvalidPathErrorView>

        
        @if (H5pPlayerVm.IsCompletable)
        {
            <div style="color: green; display: flex; align-items: center;">
                <span>&#10003;</span> <!-- Grüner Haken -->
                <span style="margin-left: 5px;">H5P ist abschließbar</span>
            </div>
        }
    }
  
</div>

@code {

    
    [Parameter] 
    public string? H5pZipSourcePath { get; set; }
    
    
    [Parameter] 
    public string? UnzippedH5psPath{ get; set; }
    
    [Parameter] 
    public H5pDisplayMode DisplayMode{ get; set; }
    
    [Inject]
    public IStartH5pPlayerFactory? StartH5pPlayerFactory{ get; set; }

    internal H5pPlayerController? H5pPlayerController { get; private set; }
    internal H5pPlayerViewModel? H5pPlayerVm { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            InitializeStartH5pPlayer();
            await StartH5pPlayer();
        }
    }

    internal void InitializeStartH5pPlayer()
    {
        StartH5pPlayerFactory!.CreateStartH5pPlayerPresentationAndUseCaseStructure(StateHasChanged, JsRuntime);
        H5pPlayerController = StartH5pPlayerFactory.H5pPlayerController;
        H5pPlayerVm = StartH5pPlayerFactory.H5pPlayerVm;
    }

    private async Task StartH5pPlayer()
    {
        //"https://localhost:8001/H5pStandalone/h5p-folder/AbfrageDefinitionen"
        await H5pPlayerController!.StartH5pPlayer(DisplayMode, H5pZipSourcePath!, UnzippedH5psPath!);
    }

   
}