@using H5pPlayer.Presentation.PresentationLogic
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime
<div>
    <PageTitle>H5P-Player</PageTitle>
    <div id="h5p-container"></div>

    <h3>H5P Player Component die geladen wird</h3>
</div>

@code {

    
    [Parameter] 
    public string? H5pZipSourcePath { get; set; }
    
    
    [Parameter] 
    public string? UnzippedH5psPath{ get; set; }
    
    private H5pPlayerController? _h5pPlayerController;

    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        { 
            await StartH5pPlayer();
        }
    }

    private async Task StartH5pPlayer()
    {
        _h5pPlayerController = new H5pPlayerController(JsRuntime);
        //"https://localhost:8001/H5pStandalone/h5p-folder/AbfrageDefinitionen"
        await _h5pPlayerController.StartH5pPlayer(H5pZipSourcePath, UnzippedH5psPath);
    }


}