@using AuthoringTool.Components
@using AuthoringTool.PresentationLogic.API
@inherits LayoutComponentBase
@inject IPresentationLogic _presentationLogic

<PageTitle>AuthoringTool</PageTitle>

<div class="page">
    <div class="sidebar">
        <main>
            <NavMenu/>
        </main>
        <footer>
            <Toolbox/>
        </footer>
    </div>

    <main>
        <div class="top-row px-4">
            @if (_presentationLogic.RunningElectron)
            {
                <CloseAppButton/>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
