@using Presentation.PresentationLogic.API
@using Presentation.Components
@using Presentation.View.Toolbox
@inherits LayoutComponentBase

<PageTitle>AuthoringTool</PageTitle>

<div class="page">
    <div class="sidebar">
        <main>
            <NavMenu/>
        </main>
        <footer>
            <Toolbox/>
        </footer>
    </div>

    <main>
        <div class="top-row px-4" style="background-color: #7b8596">
            @if (PresentationLogic?.RunningElectron == true)
            {
                <CloseAppButton/>
            }
            <LanguageSwitch/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    [Inject]
    public IPresentationLogic? PresentationLogic { get; set; }

}