<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AuthoringTool</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AuthoringToolWorkspaceView">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Workspace
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ButtonsView">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ButtonsView
            </NavLink>
        </div>

    </nav>
</div>

@code {
    public NavMenu()
    {
        CollapseNavMenu = true;
        NavMenuCssClass = CollapseNavMenu ? "collapse" : null;
    }

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }

    private bool CollapseNavMenu { get; set; }
    private string? NavMenuCssClass { get; set; }
    
    }

}