@using AuthoringToolLib.PresentationLogic.LearningSpace
@using AuthoringToolLib.View.Toolbox
<LearningObjectRenderFragmentBase Obj="ViewModel" CssClassSelector="learning-space">
    <p>@ViewModel.Description</p>
</LearningObjectRenderFragmentBase>
    
@code {
    [Parameter, EditorRequired] 
    public ILearningSpaceViewModel ViewModel { get; set; }
}