@using System.Diagnostics.CodeAnalysis
@using AutoMapper
@using Microsoft.Extensions.Localization
@using Presentation.Components.ContentFiles
@using Presentation.Components.Forms.Models
@using Presentation.PresentationLogic.API
@using Presentation.PresentationLogic.LearningContent
@using Presentation.PresentationLogic.LearningWorld
@using Shared.H5P
<p class="text-sm px-6 cursor-default">@Localizer["LearningContentDialog.LearningMaterial.Dialog.Subtitle"]</p>

<ContentFilesView OnRowClick="HandleRowClick"
                  TableHeight="450px"
                  SurroundingDivClass="rounded border-4 border-adlergrey-200 m-4"
                  SelectedLearningContent="GetInitialSelectedLearningContent()"
                  ShowPager="false"
                  MultipleSelection="false"
                  DeleteButtonVisible="false"
                  ShowPreviewButton="true"
                  ShowHoverMenu="false"
                  DisableUnusableContent="true"></ContentFilesView>

@code {
    [CascadingParameter] public IMudDialogInstance? MudDialog { get; set; }

    [Parameter, EditorRequired] public ILearningContentFormModel? LearningContent { get; set; }

    [Inject, AllowNull] internal IStringLocalizer<LearningContentDialog> Localizer { get; set; }
    [Inject, AllowNull] internal ILearningWorldPresenter WorldPresenter { get; set; }
    [Inject, AllowNull] internal IMapper Mapper { get; set; }
    [Inject, AllowNull] internal IPresentationLogic PresentationLogic { get; set; }

    private ILearningContentViewModel? GetInitialSelectedLearningContent()
    {
        var learningContentVm = Mapper.Map<ILearningContentViewModel>(LearningContent);
        return PresentationLogic.GetAllContent().FirstOrDefault(vm => vm.Equals(learningContentVm));
    }

    private void HandleRowClick(ILearningContentViewModel selectedContent)
    {
        RowClickEvent(Mapper.Map<ILearningContentFormModel>(selectedContent));
    }

    private void RowClickEvent(ILearningContentFormModel learningContentFormModel)
    {
        if (learningContentFormModel is FileContentFormModel fileContent)
        {
            if ((fileContent.Type == "h5p" &&
                 (fileContent.H5PState == H5PContentState.Completable || fileContent.H5PState == H5PContentState.Primitive))
                || fileContent.Type != "h5p")
                MudDialog?.Close(DialogResult.Ok(learningContentFormModel));
        }
        else MudDialog?.Close(DialogResult.Ok(learningContentFormModel));
    }

}