@using Presentation.PresentationLogic
@inherits ComponentBase
@inject IShutdownManager ShutdownManager
<button class="btn-standard w-8 bg-red-400 text-2xl font-bold" @onclick="() => ShutdownManager.BeginShutdown()">X</button>
