@using System.Diagnostics.CodeAnalysis
<div class="bg-adlergrey-300 rounded-lg p-1 flex flex-col basis-1/5">
    @ChildContent
</div>

@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}