@using System.Diagnostics.CodeAnalysis
<div class="bg-blacktrans-100 rounded flex flex-col shrink grow basis-1/5">
    @ChildContent
</div>

@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}