@using System.Diagnostics.CodeAnalysis
<div class="h-1/4 grow box-border m-1 p-1 bg-white rounded-lg overflow-auto">
    @ChildContent
</div>

@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}