@using System.Diagnostics.CodeAnalysis
<div class="rounded-lg bg-adlergrey-300 m-1 p-1">
    <div class="flex-auto basis-4/5 box-border bg-adlerbgbright border-adlerdeactivated rounded-lg">
        @ChildContent
    </div>
</div>


@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}