@using System.Diagnostics.CodeAnalysis
<div class="bg-blacktrans-100 rounded-t flex flex-col shrink grow basis-4/5 relative">
        @ChildContent
</div>


@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}