@using System.Diagnostics.CodeAnalysis
<div class="rounded-lg bg-adlerbgbright border-adlergrey-300 border-4 m-1 p-1 basis-4/5 flex-auto box-border">
        @ChildContent
</div>


@code {

    [Parameter, EditorRequired, AllowNull] //suppress nullability as EditorRequired - n.stich
    public RenderFragment ChildContent { get; set; }

}