<div class="h-[41rem] 2xl:h-[57rem] 3xl:h-[65rem] box-border grow m-1 p-1 bg-white rounded-lg overflow-auto">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}