<div class="@GetSide p-1 h-[90%]">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired]
    public Side Side { get; set; }

    private string GetSide => Side switch 
    {
        Side.Left => "left",
        Side.Right => "right",
        _ => throw new ArgumentOutOfRangeException(nameof(Side))
    };

}