@using H5pPlayer.Presentation.View

<h3>H5pPlayer</h3>

<!-- Attention: 
    Why PlayerH5p.razor not H5pPlayer.razor:
    the Razor file must never have the same name as the Dll, i.e. never: dll-name.razor
    see: https://www.reddit.com/r/Blazor/comments/iuumr2/avoid_my_idiocy/
    see only intern: https://wiki.projekt-adler.eu/de/AMG/Blazor/Naming
-->

<H5pPlayerView></H5pPlayerView>

@code {
    
}