@using Presentation.PresentationLogic.LearningElement
@using Presentation.View.Toolbox
<LearningObjectRenderFragmentBase Obj="ViewModel" CssClassSelector="learning-element">
    <p>I am an element</p>
</LearningObjectRenderFragmentBase>

@code {
    [Parameter, EditorRequired] 
    public LearningElementViewModel ViewModel { get; set; }
}
