@page "/MyLearningWorldsOverview"
@using Presentation.PresentationLogic.MyLearningWorlds
@using Shared
@using Presentation.PresentationLogic.API
@using Presentation.Components.Forms.World
@using Presentation.Components
<main class="overflow-hidden relative min-h-screen h-screen w-screen bg-gradient-to-br m-0 from-adlerbggradientfrom to-adlerbggradientto">
    <HeaderBar/>
    <article class="p-2 flex flex-col items-center gap-10 overflow-hidden">
        <section class="w-1/3 h-12 flex rounded-lg items-center justify-center">
            <h3 class="font-bold text-2xl text-center text-adlerdarkblue">MyLearningWorldsOverview</h3>
        </section>
        <section class="flex flex-col m-auto gap-8">
            <MudGrid Class="flex justify-center" Spacing="2">
                @foreach (var myLearningWorld in MyLearningWorldsProvider.GetLoadedLearningWorlds())
                {
                    <LearningWorldCard LearningWorldPath="@myLearningWorld" OnOpenLearningWorld="OpenLearningWorld" IsLoaded="true"/>
                }
                @foreach (var myLearningWorld in MyLearningWorldsProvider.GetSavedLearningWorlds())
                {
                    <LearningWorldCard LearningWorldPath="@myLearningWorld" OnOpenLearningWorld="OpenLearningWorld" OnDeleteFromSaved="MyLearningWorldsProvider.DeletePathFromSavedLearningWorlds" IsLoaded="false"/>
                }
                <LearningWorldCard OnLoadLearningWorldPath="LoadLearningWorldAsync"/>
                <LearningWorldCard OnCreateLearningWorld="CreateLearningWorld"/>

            </MudGrid>
        </section>
        <MudButton Class="btn-standard normal-case" @onclick="OnClickMyLearningWorldsOverview">Gehe zur Lernwelt</MudButton>
        <ExportButton/>
        <MudDrawer @bind-Open="_createLearningWorldDialogOpen" Variant="@DrawerVariant.Temporary" Position="DrawerPosition.Left">
            <MudDrawerContent>
                <CreateWorldForm OnSubmitted="() => _createLearningWorldDialogOpen = false"/>
            </MudDrawerContent>
        </MudDrawer>
    </article>
    <img class="pointer-events-none w-3/5 opacity-10 absolute -bottom-1/4 -right-64" src="/CustomIcons/world-icon-nobg.png"/>
</main>

@code {

#pragma warning disable CS8618
    [Inject]
    internal IMyLearningWorldsProvider MyLearningWorldsProvider { get; private init; }

    [Inject]
    internal NavigationManager NavManager { get; private init; }
#pragma warning restore CS8618

    private bool _createLearningWorldDialogOpen = false;

    private void OnClickMyLearningWorldsOverview()
    {
        NavManager.NavigateTo("/app");
    }

    private async void LoadLearningWorldAsync()
    {
        var retVal = await MyLearningWorldsProvider.LoadSavedLearningWorld();
        if (retVal)
        {
            OnClickMyLearningWorldsOverview();
        }
    }

    private void CreateLearningWorld()
    {
        _createLearningWorldDialogOpen = true;
    }

    private void OpenLearningWorld(SavedLearningWorldPath savedLearningWorldPath)
    {
        MyLearningWorldsProvider.OpenLearningWorld(savedLearningWorldPath);
        OnClickMyLearningWorldsOverview();
    }

}