@using Presentation.PresentationLogic.API
@using Presentation.Components
<header class="flex justify-between h-12 w-full bg-buttonbgblue items-center">
    <div class="ml-1 flex items-center gap-2">
        <img class="w-10 drop-shadow" src="/CustomIcons/autorentool-logo.png"/>
        <h1 class="font-bold text-lg">Autorentool v0.3.1</h1>
    </div>
    @if (PresentationLogic?.RunningElectron == true)
    {
        <CloseAppButton/>
    }
</header>

@code {
    [Inject]
    public IPresentationLogic? PresentationLogic { get; set; }

}