@page "/app"
@using Presentation.PresentationLogic.DropZone
@using Presentation.PresentationLogic.LearningElement
@using Presentation.View.Layout
@using Presentation.View.LearningSpace
@using Presentation.View.LearningWorld
@using Presentation.Components.Forms.World
@using Presentation.Components.Forms.Space
@using Presentation.Components.Forms.Element
@using Presentation.Components.ContentFiles
@using Presentation.Components.Dialogues

<div class="flex flex-col h-screen max-h-screen overflow-hidden w-screen bg-buttonbgblue font-sans">
    <HeaderBar/>
    <MudDropContainer T="ILearningElementViewModel"
                      Items="ElementDropZoneHelper.GetWorldAndSpaceElements()"
                      ItemsSelector="ElementDropZoneHelper.IsItemInDropZone"
                      ItemDropped="ElementDropZoneHelper.ItemUpdated"
                      class="flex-1 flex flex-row justify-between items-start">
        <ChildContent>
            <CascadingValue Value="@TriggerStateHasChanged" Name="TriggerMasterLayoutStateHasChanged">
                <SideContainer Side="Side.Left">
                    <Sidebar SidebarSide="Side.Left">
                        <SidebarItem>
                            <SidebarContent>
                                <div title="LearningWorldMetadata">
                                    <img class="w-9" src="CustomIcons/worldmenu-icon_metadata-nobg.png" alt="learningworld-metadata">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <WorldFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarContent>
                                <div title="LearningSpaceMetadata">
                                    <img class="w-9" src="CustomIcons/spacemenu-icon_metadata-nobg.png" alt="learningspace-metadata">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <SpaceFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarContent>
                                <div title="LearningElementMetadata">
                                    <img class="w-9" src="CustomIcons/learningelements-icon_metadata.png" alt="learningelement-metadata">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ElementFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarContent>
                                <div title="AllFiles">
                                    <img class="w-9" src="CustomIcons/all-data-icon-nobg.png" alt="all-files">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ContentFilesContainer/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
                <CenterContainer>
                    <LearningSpaceView/>
                </CenterContainer>
                <SideContainer Side="Side.Right">
                    <Sidebar SidebarSide="Side.Right">
                        <SidebarItem>
                            <SidebarContent>
                                <div title="LearningPathWays">
                                    <img class="w-[38px]" src="CustomIcons/path-icon-nobg.png" alt="learning pathways">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldView/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarContent>
                                <div title="LearningWorldOverView">
                                    <img class="w-[38px]" src="CustomIcons/overview-world-icon-nobg.png" alt="learning world overview">
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldOverView/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
            </CascadingValue>
        </ChildContent>
        <ItemRenderer>
            <MudListItem Text="@context.Name"/>
        </ItemRenderer>
    </MudDropContainer>
    <ErrorDialog/>
</div>

@code {

    [Inject]
    public ILearningElementDropZoneHelper ElementDropZoneHelper { get; set; }

    private void TriggerStateHasChanged()
    {
        StateHasChanged();
    }

}