@using Presentation.View.Layout
@using Presentation.View.LearningWorld
@using Presentation.PresentationLogic.LearningElement
@using Presentation.PresentationLogic.LearningSpace
@using Presentation.PresentationLogic.LearningWorld
@page "/app"
<div class="flex flex-col h-screen w-screen bg-adlerblue-100 font-sans">
    <HeaderBar/>
    <div class="columns-3 flex-1 flex flex-row justify-between items-center">
        <MudDropContainer T="ILearningElementViewModel" Items="GetWorldAndSpaceElements()" >
            <SideContainer Side="Side.Left">
                <Sidebar SidebarSide="Side.Left">
                    <SidebarItem>
                        <SidebarContent>
                            <p class="text-center">Ico</p>
                        </SidebarContent>
                        <MainContent>
                            <p class="text-center">Some elaborate content</p>
                        </MainContent>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarContent>
                            <p>Ico2</p>
                        </SidebarContent>
                        <MainContent>
                            <MudDropZone T="ILearningElementViewModel">
                                <h2>DropZone1</h2>
                            </MudDropZone>
                        </MainContent>
                    </SidebarItem>
                </Sidebar>
            </SideContainer>
            <CenterContainer>
                <div class="bg-blue-400">
                    Center
                </div>
            </CenterContainer>
            <SideContainer Side="Side.Right">
                <Sidebar SidebarSide="Side.Right">
                    <SidebarItem>
                        <SidebarContent>
                            <div title="LerarningPathWays">
                                <img class="w-8" src="CustomIcons/world-icon-nobg.png" alt="blabla">
                            </div>
                        </SidebarContent>
                        <MainContent>
                            <LearningWorldView></LearningWorldView>
                        </MainContent>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarContent>
                            <div title="LearningWorldOverView">
                                <img class="w-8" src="CustomIcons/world-icon-nobg.png" alt="blabla">
                            </div>
                        </SidebarContent>
                        <MainContent>
                            <LearningWorldOverView></LearningWorldOverView>
                        </MainContent>
                    </SidebarItem>
                </Sidebar>
            </SideContainer>
        </MudDropContainer>
    </div>
</div>
@code {
    [Inject]
    public ILearningSpacePresenter SpacePresenter { get; set; }
    [Inject]
    public ILearningWorldPresenter WorldPresenter { get; set; }

    private IEnumerable<ILearningElementViewModel> GetWorldAndSpaceElements()
    {
        var list = Enumerable.Empty<ILearningElementViewModel>();
        if (SpacePresenter.LearningSpaceVm != null) list = list.Union(SpacePresenter.LearningSpaceVm.LearningElements);
        if (WorldPresenter.LearningWorldVm != null) list = list.Union(WorldPresenter.LearningWorldVm.UnplacedLearningElements);
        return list;
    }
}