@page "/app"
@using Presentation.PresentationLogic.Mediator
@using Presentation.PresentationLogic.SelectedViewModels
@using Presentation.View.Layout
@using Presentation.View.LearningSpace
@using Presentation.View.LearningWorld
@using Presentation.PresentationLogic.DropZone
@using Presentation.PresentationLogic.LearningElement
@using Presentation.PresentationLogic.LearningSpace
@using BusinessLogic.Commands
@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using System.ComponentModel
@using System.Diagnostics.CodeAnalysis
@using Presentation.Components.Forms.World
@using Presentation.Components.Forms.Space
@using Presentation.Components.Forms.Element
@using Presentation.Components.ContentFiles
@implements IDisposable

<div class="flex flex-col h-screen max-h-screen overflow-hidden w-screen bg-buttonbgblue font-sans">
    <HeaderBar/>
    <MudDropContainer T="ILearningElementViewModel"
                      Items="ElementDropZoneHelper.GetWorldAndSpaceElements()"
                      ItemsSelector="ElementDropZoneHelper.IsItemInDropZone"
                      ItemDropped="ElementDropZoneHelper.ItemUpdated"
                      class="flex-1 flex flex-row justify-between items-start">
        <ChildContent>
            <CascadingValue Value="@TriggerStateHasChanged" Name="TriggerMasterLayoutStateHasChanged">
                <SideContainer Side="Side.Left">
                    <Sidebar Side="Side.Left">
                        <SidebarItem
                            IsActive="Mediator.WorldDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningWorldMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/worldmenu-icon_metadata-nobg.png" alt=@Localizer["SideBarContent.LearningWorldMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <WorldFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.SpaceDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleSpaceDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningSpaceMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/spacemenu-icon_metadata-nobg.png" alt=@Localizer["SideBarContent.LearningSpaceMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <SpaceFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.ElementDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleElementDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningElementMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/learningelements-icon_metadata.png" alt=@Localizer["SideBarContent.LearningElementMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ElementFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.ContentDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleContentDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.ImportFiles.Title"]>
                                    <img class="w-full" src="CustomIcons/all-data-icon-nobg.png" alt=@Localizer["SideBarContent.ImportFiles.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ContentFilesContainer/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
                <CenterContainer>
                    @if (SelectedViewModelsProvider.LearningObjectInPathWay is ILearningSpaceViewModel)
                    {
                        <LearningSpaceView/>
                    }
                    else
                    {
                        <img class="w-1/3 opacity-10 pt-28 mx-auto absolute bottom-1/6 left-1/3" src="CustomIcons/autorentool-logo.png">
                    }
                </CenterContainer>
                <SideContainer Side="Side.Right">
                    <Sidebar Side="Side.Right">
                        <SidebarItem
                            IsActive="Mediator.WorldPathwayViewOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldPathwayView">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningPathWays.Title"]>
                                    <img class="w-full" src="CustomIcons/path-icon-nobg.png" alt=@Localizer["SideBarContent.LearningPathWays.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldPathwayView/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.WorldTreeViewOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldTreeView">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningWorldOverView.Title"]>
                                    <img class="w-full" src="CustomIcons/overview-world-icon-nobg.png" alt=@Localizer["SideBarContent.LearningWorldOverView.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldTreeView/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
            </CascadingValue>
        </ChildContent>
        <ItemRenderer>
            <MudListItem Text="@context.Name"/>
        </ItemRenderer>
    </MudDropContainer>
</div>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IMediator Mediator { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal ILearningElementDropZoneHelper ElementDropZoneHelper { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IOnUndoRedo OnUndoRedoEventSource { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<MasterLayout> Localizer { get; set; }

    [Inject, AllowNull] //see above
    internal ISelectedViewModelsProvider SelectedViewModelsProvider { get; set; }

    [Inject, AllowNull]
    internal NavigationManager NavManager { get; set; }

    //This is a hack to ensure that there always exists an instance of AuthoringToolWorkspacePresenter in the current scope
    //so we can ask to save worlds on closing the application
    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IAuthoringToolWorkspacePresenter AuthoringToolWorkspacePresenter { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Mediator.PropertyChanged += MediatorOnPropertyChanged;
        OnUndoRedoEventSource.OnRedo += OnUndoRedo;
        OnUndoRedoEventSource.OnUndo += OnUndoRedo;
        SelectedViewModelsProvider.PropertyChanged += MediatorOnPropertyChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        OnAfterRenderInternal(firstRender);
    }

    internal void OnAfterRenderInternal(bool firstRender)
    {
    //if no world is selected (after hot reload for example), navigate to overview
        if (SelectedViewModelsProvider.LearningWorld is null) NavManager.NavigateTo("/MyLearningWorldsOverview");
    //only open tabs if it's our first render after being created
        if (!firstRender) return;
    //open left and right tabs
        Mediator.RequestOpenWorldDialog();
        Mediator.RequestOpenPathwayView();
    }

    private void MediatorOnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        TriggerStateHasChanged();
    }

    private void OnUndoRedo(ICommand command)
    {
        TriggerStateHasChanged();
    }

    private void TriggerStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Mediator.PropertyChanged -= MediatorOnPropertyChanged;
        OnUndoRedoEventSource.OnRedo -= OnUndoRedo;
        OnUndoRedoEventSource.OnUndo -= OnUndoRedo;
        SelectedViewModelsProvider.PropertyChanged -= MediatorOnPropertyChanged;
    }

}