@page "/app"
@using Presentation.PresentationLogic.Mediator
@using Presentation.View.Layout
@using Presentation.View.LearningSpace
@using Presentation.View.LearningWorld
@using Presentation.PresentationLogic.DropZone
@using Presentation.PresentationLogic.LearningElement
@using Microsoft.Extensions.Localization
@using System.ComponentModel
@using Presentation.Components.Forms.World
@using Presentation.Components.Forms.Space
@using Presentation.Components.Forms.Element
@using Presentation.Components.ContentFiles
@using Presentation.Components.Dialogues

<div class="flex flex-col h-screen max-h-screen overflow-hidden w-screen bg-buttonbgblue font-sans">
    <HeaderBar/>
    <MudDropContainer T="ILearningElementViewModel"
                      Items="ElementDropZoneHelper.GetWorldAndSpaceElements()"
                      ItemsSelector="ElementDropZoneHelper.IsItemInDropZone"
                      ItemDropped="ElementDropZoneHelper.ItemUpdated"
                      class="flex-1 flex flex-row justify-between items-start">
        <ChildContent>
            <CascadingValue Value="@TriggerStateHasChanged" Name="TriggerMasterLayoutStateHasChanged">
                <SideContainer Side="Side.Left">
                    <Sidebar SidebarSide="Side.Left">
                        <SidebarItem
                            IsActive="Mediator.WorldDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningWorldMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/worldmenu-icon_metadata-nobg.png" alt=@Localizer["SideBarContent.LearningWorldMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <WorldFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.SpaceDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleSpaceDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.LearningSpaceMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/spacemenu-icon_metadata-nobg.png" alt=@Localizer["SideBarContent.LearningSpaceMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <SpaceFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.ElementDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleElementDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.SideBarContent.LearningElementMetadata.Title"]>
                                    <img class="w-full" src="CustomIcons/learningelements-icon_metadata.png" alt=@Localizer["SideBarContent.SideBarContent.LearningElementMetadata.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ElementFormContainer/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.ContentDialogOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleContentDialog">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.SideBarContent.AllFiles.Title"]>
                                    <img class="w-full" src="CustomIcons/all-data-icon-nobg.png" alt=@Localizer["SideBarContent.SideBarContent.AllFiles.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <ContentFilesContainer/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
                <CenterContainer>
                    <LearningSpaceView/>
                </CenterContainer>
                <SideContainer Side="Side.Right">
                    <Sidebar SidebarSide="Side.Right">
                        <SidebarItem
                            IsActive="Mediator.WorldViewOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldView">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.SideBarContent.LearningPathWays.Title"]>
                                    <img class="w-full" src="CustomIcons/path-icon-nobg.png" alt=@Localizer["SideBarContent.SideBarContent.LearningPathWays.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldView/>
                            </MainContent>
                        </SidebarItem>
                        <SidebarItem
                            IsActive="Mediator.WorldOverviewOpen"
                            RequestIsActiveToggle="Mediator.RequestToggleWorldOverview">
                            <SidebarContent>
                                <div class="w-12 p-1" title=@Localizer["SideBarContent.SideBarContent.LearningWorldOverView.Title"]>
                                    <img class="w-full" src="CustomIcons/overview-world-icon-nobg.png" alt=@Localizer["SideBarContent.SideBarContent.LearningWorldOverView.Alt"]>
                                </div>
                            </SidebarContent>
                            <MainContent>
                                <LearningWorldOverView/>
                            </MainContent>
                        </SidebarItem>
                    </Sidebar>
                </SideContainer>
            </CascadingValue>
        </ChildContent>
        <ItemRenderer>
            <MudListItem Text="@context.Name"/>
        </ItemRenderer>
    </MudDropContainer>
    <ErrorDialog/>
</div>

@code {

    [CascadingParameter]
    public IMediator Mediator { get; set; }

    [Inject]
    public ILearningElementDropZoneHelper ElementDropZoneHelper { get; set; }

    [Inject]
    private StringLocalizer<MasterLayout> Localizer { get; set; }


    protected override void OnInitialized()
    {
        Mediator.PropertyChanged += MediatorOnPropertyChanged;
    }

    private void MediatorOnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }


    private void TriggerStateHasChanged()
    {
        StateHasChanged();
    }

}