@using Presentation.View.Toolbox
@using Presentation.PresentationLogic.Element
<DisplayableObjectRenderFragmentBase Obj="ViewModel" CssClassSelector="element">
    <p>I am an element</p>
</DisplayableObjectRenderFragmentBase>

@code {
    [Parameter, EditorRequired] 
#pragma warning disable CS8618 // Parameters provided by framework - n.stich
        public ElementViewModel ViewModel { get; set; }
#pragma warning restore CS8618
}
